<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= header %></title>
  <link href="http://cdn.webfont.youziku.com/webfonts/nomal/101799/46870/593a9a53f629db13fc7675ec.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://comacc.top/css/article.css">
  <link rel="stylesheet" href="http://comacc.top/css/vs2015.css">
</head>
<body>
  <div class="blog-header">
    <div>
      <h1 class="cusFont">Coma's 文字 </h1>
      <p class="cusFont">“ 疼痛有益，先生 ”</p>
    </div>
  </div>
  <div class="back">
			<button class="back-button"><a href="http://comacc.top/index">返回主页</a></button>
	</div>
  <div id="article-show" class="index-show circle-angle clearfix">
    <div class="single-article">
      <h1><%= header %></h1>
      <p class="cusFont time-stamp"><%= timeStamp %></p><span class="cusFont"><%= clock %></span>
      <div><%- marked %></div>
    </div> 
  </div>
  <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>